<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_hamburg.vsis.fooddepot.fooddepotclient">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:fullBackupContent="@xml/mybackupscheme"
        android:name=".network.FDepotApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_carrot"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".boxes.BoxesActivity" />
        </activity>
        <activity
            android:name=".boxes.BoxesActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".box.BoxActivity"
            android:label="@string/box_activity"
            android:parentActivityName=".boxes.BoxesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".boxes.BoxesActivity"/>
        </activity>
        <activity
            android:name=".configuration.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".boxes.BoxesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".boxes.BoxesActivity" />
        </activity>
        <activity
            android:name=".configuration.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".boxes.BoxesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".boxes.BoxesActivity" />
        </activity>
        <activity
            android:name=".openbox.OpenBoxActivity"
            android:label="@string/title_activity_open_box"
            android:parentActivityName=".boxes.BoxesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".boxes.BoxesActivity" />
        </activity>
        <activity
            android:name=".helpers.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The API key for Google Maps-based APIs is defined as a string resource. -->
        <!-- (See the file "res/values/google_maps_api.xml"). -->
        <!-- Note that the API key is linked to the encryption key used to sign the APK. -->
        <!-- You need a different API key for each encryption key, including the release key that is used to -->
        <!-- sign the APK for publishing. You can define the keys for the debug and release targets in src/debug/ and src/release/. -->


        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="8489470" /> -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxAtujYy3RU-O87ZWmcuxlq8z0xXogwc8" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="google_maps_key_phil"/> -->


        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key_paul" /> -->

        <service android:name=".openbox.FDHostApduService" android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice"/>
        </service>



        <service android:name=".widget.UpdateWidgetService"></service>

        <receiver
            android:icon="@drawable/ic_carrot"
            android:label="FoodDepot Widget"
            android:name=".widget.FoodDepotWidgetProvider">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fooddepot_appwidget_info" />
        </receiver>

    </application>

</manifest>